name: publish

on:
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      version:
        description: 'The version to publish'
        required: true
        type: string

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_NOLOGO: true
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: 1
  FORCE_COLOR: 3
  NUGET_XMLDOC_MODE: skip
  TERM: xterm

permissions: {}

jobs:
  publish-nuget:
    runs-on: ubuntu-latest
    if: github.event.repository.fork == false

    defaults:
      run:
        shell: bash

    env:
      RELEASE_TAG: ${{ inputs.version || github.event.release.tag_name }}

    permissions:
      contents: read
      id-token: write

    steps:

    - name: Download the files attached to the release
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh release download "${RELEASE_TAG}" --repo "${GITHUB_REPOSITORY}"

    - name: Import GPG public key
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh api "/users/${GITHUB_REPOSITORY_OWNER}/gpg_keys" --jq ".[].raw_key" | gpg --import

    - name: Verify release assets
      run: |
        sha256sum "./checksums.txt" --check || exit 1
        for pkg in *.*nupkg; do
          echo "Verifying ${pkg}"
          gpg --verify "${pkg}.sig" "${pkg}" || exit 1
        done

    - name: Get the .NET SDK version to use for the release
      id: get-dotnet-sdk-version
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        dotnet_sdk_version="$(gh api -H "Accept: application/vnd.github.v3.raw" "repos/${GITHUB_REPOSITORY}/contents/global.json?ref=${RELEASE_TAG}" | jq -r .sdk.version)"
        echo "dotnet-sdk-version=${dotnet_sdk_version}" >> "${GITHUB_OUTPUT}"

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
      with:
        dotnet-version: ${{ steps.get-dotnet-sdk-version.outputs.dotnet-sdk-version }}

    - name: Get NuGet package information
      id: get-packages
      run: |
        packages="$(find . -type f -name '*.nupkg' -printf '%f\n' | sort | sed -E 's/\.nupkg$//' | sed -E 's/\.[0-9]+\.[0-9]+\.[0-9]+([-+].*)?$//' | paste -sd, -)"
        echo "package-names=${packages}" >> "${GITHUB_OUTPUT}"
        echo "package-version=${RELEASE_TAG#v}" >> "${GITHUB_OUTPUT}"

    - name: Verify NuGet is installed
      run: |
        dotnet --version
        dotnet nuget --version
