name: release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'The branch to create the release from'
        required: false
        type: string
        default: ''
      version:
        description: 'The version to tag the release as'
        required: false
        type: string
        default: ''

permissions: {}

jobs:
  release:
    runs-on: [ ubuntu-latest ]

    steps:

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: true # zizmor: ignore[artipacked] Needed to push tag
          ref: ${{ github.event.inputs.branch || github.event.repository.default_branch }}
          show-progress: false
          token: ${{ secrets.COSTELLOBOT_TOKEN }}

      - name: Get version
        id: get-version
        shell: pwsh
        env:
          VERSION: ${{ github.event.inputs.version }}
        run: |
          $version = ${env:VERSION}
          if ([string]::IsNullOrEmpty($version)) {
            $properties = Join-Path "." "Directory.Build.props"
            $xml = [xml](Get-Content $properties)
            $version = $xml.SelectSingleNode('Project/PropertyGroup/VersionPrefix').InnerText
          }
          "version=${version}" >> ${env:GITHUB_OUTPUT}

      - name: Import GPG private key
        env:
          GPG_PASSPHRASE: ${{ secrets.COSTELLOBOT_GPG_PASSPHRASE }}
          GPG_PRIVATE_KEY: ${{ secrets.COSTELLOBOT_GPG_PRIVATE_KEY }}
        run: |
          export GNUPGHOME="$(mktemp -d)"
          chmod 700 "${GNUPGHOME}"
          echo "${GPG_PRIVATE_KEY}" | gpg --batch --import
          printf '%s\n' "allow-loopback-pinentry" >> "${GNUPGHOME}/gpg-agent.conf"
          printf '%s\n' "pinentry-mode loopback" > "${GNUPGHOME}/gpg.conf"
          gpgconf --kill gpg-agent || true
          echo "GNUPGHOME=${GNUPGHOME}" >> "${GITHUB_ENV}"

      - name: Configure Git
        shell: pwsh
        env:
          GIT_COMMIT_USER_EMAIL: ${{ vars.GIT_COMMIT_USER_EMAIL }}
          GIT_COMMIT_USER_NAME: ${{ vars.GIT_COMMIT_USER_NAME }}
          GPG_KEY_ID: ${{ secrets.COSTELLOBOT_GPG_KEY_ID }}
        run: |
          git config user.email ${env:GIT_COMMIT_USER_EMAIL} | Out-Null
          git config user.name ${env:GIT_COMMIT_USER_NAME} | Out-Null
          git config user.signingkey ${env:GPG_KEY_ID} | Out-Null
          git config commit.gpgsign true
          git config gpg.program gpg

      - name: Create and push tag
        env:
          GNUPGHOME: ${{ env.GNUPGHOME }}
          VERSION: ${{ steps.get-version.outputs.version }}
        run: |
          TAG="v${VERSION}"
          git tag "${TAG}" && git push origin "refs/tags/$TAG"
