name: release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'The branch to create the release from'
        required: false
        type: string
        default: ''
      version:
        description: 'The version to tag the release as'
        required: false
        type: string
        default: ''

permissions: {}

jobs:
  release:
    runs-on: [ ubuntu-latest ]

    steps:

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: true # zizmor: ignore[artipacked] Needed to push tag
          ref: ${{ github.event.inputs.branch || github.event.repository.default_branch }}
          show-progress: false
          token: ${{ secrets.COSTELLOBOT_TOKEN }}

      - name: Get version
        id: get-version
        shell: pwsh
        env:
          VERSION: ${{ github.event.inputs.version }}
        run: |
          $version = ${env:VERSION}
          if ([string]::IsNullOrEmpty($version)) {
            $properties = Join-Path "." "Directory.Build.props"
            $xml = [xml](Get-Content $properties)
            $version = $xml.SelectSingleNode('Project/PropertyGroup/VersionPrefix').InnerText
          }
          "version=${version}" >> ${env:GITHUB_OUTPUT}

      - name: Import GPG private key
        env:
          GPG_PRIVATE_KEY: ${{ secrets.COSTELLOBOT_GPG_PRIVATE_KEY }}
        run: |
          echo "${GPG_PRIVATE_KEY}" | gpg --batch --import

      - name: Set up GPG script
        id: create-gpg-script
        shell: bash
        run: |
          gpg_script="${GITHUB_WORKSPACE}/gpg.sh"
          echo '#!/bin/bash' >> "${gpg_script}"
          echo 'gpg --batch --pinentry-mode=loopback --passphrase "${GPG_KEY_PASSPHRASE}" $@' >> "${gpg_script}"
          chmod +x "${gpg_script}"
          echo "gpg-script=${gpg_script}" >> "${GITHUB_OUTPUT}"

      - name: Configure Git
        shell: bash
        env:
          GIT_COMMIT_USER_EMAIL: ${{ vars.GIT_COMMIT_USER_EMAIL }}
          GIT_COMMIT_USER_NAME: ${{ vars.GIT_COMMIT_USER_NAME }}
          GPG_KEY_ID: ${{ secrets.COSTELLOBOT_GPG_KEY_ID }}
          GPG_SCRIPT: ${{ steps.create-gpg-script.outputs.gpg-script }}
        run: |
          git config --global commit.gpgsign true
          git config --global gpg.program "${GPG_SCRIPT}"
          git config --global tag.gpgsign true
          git config --global user.email "${GIT_COMMIT_USER_EMAIL}"
          git config --global user.name "${GIT_COMMIT_USER_NAME}"
          git config --global user.signingkey "${GPG_KEY_ID}"

      - name: Create and push tag
        env:
          GPG_PASSPHRASE: ${{ secrets.COSTELLOBOT_GPG_PASSPHRASE }}
          VERSION: ${{ steps.get-version.outputs.version }}
        run: |
          TAG="v${VERSION}"
          git tag "${TAG}" -m "Release ${TAG}" && git push origin "refs/tags/$TAG"
